.delete-modal {
  position: absolute;
  display: flex;
  width: 180px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background-color: var(--color-neutral-lowest);
  border-radius: 8px;
  z-index: 1000;
}

.delete-modal-button {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  font: var(--font-medium-13px);
  color: var(--color-neutral-high);
  cursor: pointer;
}
