@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_24pt-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  /* Fonts */
  --font-semibold-14px: normal 600 0.875rem "Inter", sans-serif;
  --font-medium-13px: normal 500 0.8125rem "Inter", sans-serif;
  --font-regular-12px: normal 400 0.75rem "Inter", sans-serif;

  /* Colors */
  --color-highlight: #83d0ff;

  --color-axe-x: #f87171;
  --color-axe-y: #34d399;

  --color-background: #262626;
  --color-grid: #525252;
  --color-mesh: #949697;

  --color-vertex-default: #005cff;
  --color-vertex-selected: #edf8ff;

  --color-edge-default: #005cff;
  --color-edge-selected: #edf8ff;

  --color-face-default: #949697;
  --color-face-selected: #6f87b1;

  --color-neutral-high: #d4d4d4;
  --color-neutral-medium: #737373;

  --color-active-background: #0e285d;
}

* {
  margin: 0;
  padding: 0;
}
